* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* flex-box styles goes here */
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.items-center {
  align-content: center;
}
.items-start {
  align-content: flex-start;
}
.items-end {
  align-content: flex-end;
}
.items-around {
  align-content: space-around;
}
.items-between {
  align-content: space-between;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
